body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  display: flex;
}

h1 {
  font-family: 'Varela Round', 'Ultra', 'Abril Fatface', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* How do I center this? And make the text input much larger  */
.search_box {
  justify-content: center;
  align-items: center;
}

/* react-typist blinking cursor */
.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }