/*THIS IS SO COOL https://codepen.io/merb/pen/yOwJjj*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Varela Round', 'Ultra', 'Abril Fatface', sans-serif;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* How do I center this? And make the text input much larger  */
.search_box {
  justify-content: center;
  align-items: center;
}